.filter-sidebar {
    min-width: 200px;
    .filter-category {
        .title {
            font-weight: 600;
            font-size: 15px;
            color: #484848;
            margin: 20px 0;
        }
    }
}
